{% extends "layout.html" %}
{% load static %}

<!-- ¡ESTA ES MI PLANTILLA PERSONALIZADA! -->
{% block head %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
{% endblock %}


{% block content %}
<h2>ESTA ES MI PLANTILLA</h2>
<div class="login-bg">
    <div class="login-card">
        <form method="post" class="login-form">
            {% csrf_token %}
            <h2>Recuperar Contraseña</h2>
            <p>Ingresa tu correo</p>
            {{ form.email }}
            <button type="submit" class="btn-iniciar">Enviar código</button>
            <a href="{% url 'signin' %}" class="btn-secundario">Volver</a>
        </form>
    </div>
</div>
{% endblock %}