{% extends "layout.html" %}
{% load static %}

{% block head %}
  <link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
{% endblock %}

{% block content %}
<div class="login-bg">
  <div class="login-card">
    <form method="post" class="login-form">
      {% csrf_token %}
      <h2>Actualizar contraseña</h2>
      <div class="form-field">
        <label>Nueva contraseña</label>
        {{ form.new_password1 }}
      </div>
      <div class="form-field">
        <label>Confirmar nueva contraseña</label>
        {{ form.new_password2 }}
      </div>
      <button type="submit" class="btn-iniciar">Actualizar contraseña</button>
    </form>
  </div>
</div>
{% endblock %}