{% extends 'layout.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="{% static 'css/index.css' %}">

<div class="evaluacion-container">
  <div class="evaluacion-texto">
    <h1>Sistema Automatizado de Evaluación Física</h1>
    <h2>Análisis corporal inteligente usando IA</h2>
    <a href="{% url 'evaluacion_ia' %}">
      <button class="btn-evaluar">Iniciar Evaluación</button>
    </a>
  </div>

  <div class="evaluacion-imagen">
    <img src="{% static 'img/silueta.png' %}" alt="Silueta IA">
  </div>
</div>

<div class="cards-evaluacion">
  <div class="card-accion">
    <div class="emoji">📷</div>
    <strong>Escanea tu imagen corporal</strong>
    <p>Evalúa tu condición física actual y obten tu plan fisico</p>
  </div>
  <div class="card-accion">
    <div class="emoji">📈</div>
    <strong>Seguimiento de progreso</strong>
    <p>Visualiza mejoras a lo largo del tiempo</p>
  </div>
  <div class="card-accion">
    <div class="emoji">🌐</div>
    <strong>Comunidad</strong>
    <p>Sigue conectado y motivado</p>
  </div>
</div>


{% endblock %}