{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">

<div class="login-bg">
    <div class="login-card">
        <div class="login-left">
            <div class="login-form">
                <h1>¡Contraseña actualizada!</h1>
                <p>Tu contraseña ha sido cambiada correctamente.</p>
                <a href="{% url 'login' %}" class="btn-iniciar">Iniciar sesión</a>
            </div>
        </div>
        <div class="login-right">
            <img src="{% static 'img/silueta-body.png' %}" alt="Silueta">
            <p>BodyScanner <span>AI</span></p>
        </div>
    </div>
</div>
{% endblock %}