{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
<link rel="stylesheet" href="{% static 'css/most_ocul.css' %}">

<div class="login-bg">
    <div class="login-card">

        <!-- IZQUIERDA -->
        <div class="login-left">
            <h2 class="slogan">Mide tu grasa corporal al instante y mejora tu salud</h2>

            <form method="post" class="login-form">
                {% csrf_token %}
                <h1>Recuperar Contraseña</h1>

                <div class="form-field">
                    <label for="id_email">Correo electrónico:</label>
                    {{ form.email }}
                </div>

                <button type="submit" class="btn-iniciar">Enviar enlace</button>

                <div class="login-links">
                    <a href="{% url 'login' %}">Volver al inicio</a>
                </div>
            </form>
        </div>

        <!-- DERECHA -->
        <div class="login-right">
            <img src="{% static 'img/silueta-body.png' %}" alt="Silueta">
            <p>BodyScanner <span>AI</span></p>
        </div>

    </div>
</div>
{% endblock %}