{% extends "layout.html" %}
{% load static %}

{% block content %}
<link rel="stylesheet" href="{% static 'css/recuperar.css' %}">
<link rel="stylesheet" href="{% static 'css/most_ocul.css' %}">

<div class="login-bg">
  <div class="login-card">

    <!-- IZQUIERDA -->
    <div class="login-left">
      <h2 class="slogan">Mide tu grasa corporal al instante y mejora tu salud</h2>

      <div class="login-form">
        <h1>Revisa tu correo 📩</h1>
        <p>Te hemos enviado un enlace para restablecer tu contraseña.<br>Si no lo ves, revisa tu carpeta de spam.</p>
        <a href="{% url 'login' %}" class="btn-iniciar">Volver al inicio de sesión</a>
      </div>
    </div>

    <!-- DERECHA -->
    <div class="login-right">
      <img src="{% static 'img/silueta-body.png' %}" alt="Silueta">
      <p>BodyScanner <span>AI</span></p>
    </div>

  </div>
</div>
{% endblock %}
